{{- define "title" -}}
    {{- .Title }} - {{ T .Data.Singular | default .Data.Singular }} - {{ .Site.Title -}}
{{- end -}}

{{- define "content" -}}
    <div class="page archive">
        {{- /* Title */ -}}
        <h2 class="single-title animate__animated animate__pulse animate__faster">
            {{- $taxonomy := .Data.Singular -}}
            {{- if eq $taxonomy "category" -}}
                <i class="far fa-folder-open fa-fw" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else if eq $taxonomy "tag" -}}
                <i class="fas fa-tag fa-fw" aria-hidden="true"></i>&nbsp;{{ .Title }}
            {{- else -}}
                {{- printf "%v - %v" (T $taxonomy | default $taxonomy) .Title -}}
            {{- end -}}
        </h2>

        {{- /* Paginate */ -}}
        {{- if .Pages -}}
            {{- $pages := .Pages.GroupByDate "2006" -}}
            {{- with .Site.Params.list.paginate | default .Site.Params.paginate -}}
                {{- $pages = $.Paginate $pages . -}}
            {{- else -}}
                {{- $pages = .Paginate $pages -}}
            {{- end -}}
            {{- range $pages.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    <article class="archive-item-enhanced">
                        {{- /* Featured Image Thumbnail */ -}}
                        {{- if .Params.featuredImage -}}
                            <div class="archive-item-image">
                                <a href="{{ .RelPermalink }}">
                                    <img src="{{ .Params.featuredImage | relURL }}" alt="{{ .Title }}" loading="lazy">
                                </a>
                            </div>
                        {{- end -}}

                        <div class="archive-item-content">
                            {{- /* Title and Date */ -}}
                            <div class="archive-item-header">
                                <a href="{{ .RelPermalink }}" class="archive-item-link">
                                    {{- .Title | emojify -}}
                                </a>
                                <span class="archive-item-date">
                                    {{- $.Site.Params.list.dateFormat | default "01-02" | .Date.Format -}}
                                </span>
                            </div>

                            {{- /* Categories and Tags */ -}}
                            <div class="archive-item-meta">
                                {{- if .Params.categories -}}
                                    <div class="archive-item-categories">
                                        {{- range .Params.categories -}}
                                            <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="archive-category">
                                                <i class="far fa-folder fa-fw"></i>{{ . }}
                                            </a>
                                        {{- end -}}
                                    </div>
                                {{- end -}}

                                {{- if .Params.tags -}}
                                    <div class="archive-item-tags">
                                        {{- range first 3 .Params.tags -}}
                                            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="archive-tag">
                                                <i class="fas fa-tag fa-fw"></i>{{ . }}
                                            </a>
                                        {{- end -}}
                                        {{- if gt (len .Params.tags) 3 -}}
                                            <span class="archive-tag-more">+{{ sub (len .Params.tags) 3 }}</span>
                                        {{- end -}}
                                    </div>
                                {{- end -}}
                            </div>
                        </div>
                    </article>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
